bin/*
build/*
build-*
lib/*
PRISCAS/Debug/*
PRISCAS/Release/*
PRISCAS/PRISCAS.opensdf
PRISCAS/ipch/*
PRISCAS_Shell/Debug/*
PRISCAS_Shell/Release/*
PDCUtil/Debug/*
PDCUtil/Release/*
*.a
*.lib
*.dll
*.exp
*.exe
*.tlog
testing/nt_test/winnt_test/Debug/*
testing/nt_test/winnt_test/Release/*
testing/tests/winnt_test.exe.metagen
testing/tests/winnt_test.ilk
testing/tests/winnt_test.pdb
testing/tests/unix_test
*.suo
*.swp
*.o
*.un~
*~
*.stackdump
simUI/simUI.pro.user*
simUI/Makefile
*.sdf
