bin/*
build/*
build-*
lib/*
contrib/dma_loopback/sim
class/Debug/*
class/class/Debug/*
class/class/Release/*
class/ipch/*
class/csim/Debug/*
class/csim/Release/*
*.a
*.lib
*.dll
*.exp
*.exe
*.tlog
testing/nt_test/winnt_test/Debug/*
testing/nt_test/winnt_test/Release/*
testing/tests/winnt_test.exe.metagen
testing/tests/winnt_test.ilk
testing/tests/winnt_test.pdb
testing/tests/unix_test
*.suo
*.swp
*.o
*.un~
*~
*.stackdump
*.opensdf
simUI/simUI.pro.user*
simUI/Makefile
*.sdf
*.pdb
